html, body {
  position: relative;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#Wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 70px auto;
  background: rgba(25,25,25,0.9);
}

#Content {
  position: relative;
  display: grid;
  grid-template-columns: auto 70% auto;
  grid-template-rows: auto 85% auto;
  text-align: center;
}

.icon {
  margin: 15px;
  height:40px;
  width:40px;
  display:block;
  float: left;
  position:relative;
  cursor: pointer;
  font-size: 40px !important;
  color: white;
}

.fab {
  visibility: hidden;
}

#Side {
  height: 100vh;
  width: 70px;
  float: left;
  overflow:visible;
}

#Side a {
  z-index: 3;
  position: relative;
}

#SideBar {
  z-index: 1;
  height: 100vh;
  width: 70px;
  background: rgba(155,155,155,0.9);
}

#SideContent {
  z-index: 2;
  position: relative;
  visibility: hidden;
  height: 100vh;
}

#ExplainContent {
  padding-top: 65px;
  position: absolute;
  display: none;
  left: 70px;
}

#ExplainContent a {
  height: 20px;
  padding: 25px 0;
  color: #FFFFFF;
  font-size: 20px;
  display: block;
  clear:both;
  float:left;
}

#XContent {
  position: absolute;
  right: 0;
}

#SNS .icon{
  margin: 0;
}
