h1 {
  opacity: 0.8;
  color: #00B992;
}

span {
  height: 70vh;
  font-size: 150px;
  writing-mode:vertical-lr;
}
#Wrapper {
  display: grid !important;
  grid-template-columns: auto auto auto !important;
  grid-template-rows: auto auto auto !important;
}
#Welcome {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
}

.Controller {
  opacity: 0.8;
  color: #00B992;
  cursor: pointer;
}

img {
  opacity: 0.8;
  height: 70vh;
  border: 5px solid #00B992;
  border-radius: 100%;
}
