.icon {
  margin: 15px;
  height:40px;
  width:40px;
  display:block;
  float: left;
  position:relative;
  cursor: pointer;
}

#Side {
  height: 100vh;
  width: 70px;
}

#SideBar {
  z-index: 1;
  height: 100vh;
  width: 70px;
  background: rgba(155,155,155,0.9);
}

#Hambuger{
  width:40px;
  height:40px;
}

#Hambuger::before{
  content:'';
  height:6px;
  width:40px;
  background:#ffffff;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  display:block;
  position:absolute;
  top:5px;
  left:0;
  box-shadow:0 12px #ffffff, 0 24px #ffffff;
  -webkit-box-shadow:0 12px #ffffff, 0 24px #ffffff;
  -moz-box-shadow:0 12px #ffffff, 0 24px #ffffff;
}

#SideContent {
  position: relative;
  visibility: hidden;
  height: 100vh;
}

#XContent {
  position: absolute;
  right: 0;
}
#X:before, #X:after{
  content:'';
  height:8px;
  width:40px;
  display:block;
  background:#ffffff;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  position:absolute;
  right: 15px;
  top:15px;
  left:0px;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
}

#X:after{
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
}

#Home{width:40px; height:40px; display:block;}

#Home:before{content:''; height:14px; width:30px; display:block; position:absolute; top:24px; left:5px; background:#333;}

#Home:after{content:''; height:0px; width:0px; display:block; position:absolute; top:2px; left:0px; border:20px solid transparent; border-bottom-color:#333; border-width:0 20px 22px 20px;}
