html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

a {
  text-align: center;
}


p {
  margin: auto auto 50px auto;
  font-size: 2em;
  height: 3em;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}

span {
  color: #fef01b;
  font-weight: 700;
}

#centering {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

img {
  grid-column: 2;
  position: absolute;
}

#Lion {
  bottom: 45px;
  left: 15px;
}

#Neo {
  top: 45px;
  right: 15px;
}
